@model PasswordResetEmailModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Subject</title>
</head>
<body>
<h1>Password Reset Request</h1>
<p>Hi @Model.UserName,</p>
<p>We received a request to reset your password. Please click the link below to reset your password:</p>
<p><a href="@Model.ResetLink" target="_blank">Reset your password</a></p>
<p>If you didn’t request a password reset, please ignore this email.</p>
<p>Thank you!</p>
</body>
</html>